:local {
    .tag {
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        padding: 0.1em 0.25em;
        border-radius: 0.1em;
        background-color: #fee;
    }
}
