:local {
    .tag {
        overflow: hidden;
        display: inline-block;
        max-width: 100%;
        padding: 0 5px;
        height: 20px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #eee;
        color: #666;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.controlled {
            position: relative;
            padding-right: 25px;
        }
    }

    .control {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: currentColor;
            opacity: 0.2;
        }
    }
}
