:local {
    .row {
        display: flex;
    }

    .header {
        margin-top: 10px;
        margin-bottom: 5px;
        color: #999;
        font-style: italic;
    }

    .title {
        width: 100%;
        flex-grow: 1;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .eventTime {
        flex-shrink: 0;
        padding-right: 10px;
        width: 150px;
        box-sizing: border-box;
    }

    .value {
        flex-shrink: 0;
        width: 100px;
    }

    .controls {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 80px;
    }

    .maintenance {
        margin-right: 15px;
    }

    .delete {
    }
}
