:local {
    .metric {
        display: flex;
        width: 100%;
    }

    .nmane {
        flex-grow: 1;
    }

    .timestamp {
        flex-shrink: 0;
        width: 150px;
    }

    .value {
        flex-shrink: 0;
        width: 100px;
    }

    .button {
        &.active {
            outline: 2px solid pink;
        }
    }
}
