:local {
    .input-area {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 4px 8px;
        width: 100%;
        min-height: 32px;
        border: 1px solid #d9d9d9;
        border-top-color: #b2b2b2;
        background-color: #fff;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    .selected-tags {
    }

    .search-input {
        padding: 0;
        min-width: 200px;
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: transparent;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 14px;
        line-height: 22px;
    }

    .tags-group {
        margin-top: 10px;
    }

    .title {
        margin-top: 0;
        margin-bottom: 7px;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }
}
