:local {
    .filter {
        display: flex;
        align-items: flex-start;
    }

    .tags {
        flex-grow: 1;
    }

    .toggle {
        margin-left: auto;
        flex-shrink: 0;
    }
}
