:local {
    .row {
        display: flex;
    }

    .header {
        margin-top: 10px;
        margin-bottom: 5px;
        color: #999;
        font-style: italic;
    }

    .title {
        overflow: hidden;
        width: calc(~'100% - 150px - 100px - 80px');
        padding-right: 10px;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }

    .eventTime {
        padding-right: 10px;
        width: 150px;
        box-sizing: border-box;
    }

    .value {
        width: 100px;
    }

    .controls {
        display: flex;
        align-items: center;
        width: 80px;
    }

    .maintenance {
        margin-right: 15px;
    }

    .delete {
    }
}
