@import '~styles/variables.less';
@import '~styles/mixins.less';

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding-top: 14px;
    flex-shrink: 0;
    height: 60px;
    background-color: #00bfa5;
    color: #fff;
    box-sizing: border-box;
}

.logo {
    width: 105px;
    height: 32px;
    vertical-align: middle;
}

.content {
    flex-grow: 1;
    height: 100%;
}

.footer {
    flex-shrink: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #efefef;
    color: #666;
}

.container {
    .container();
    display: flex;
    align-items: baseline;
}

.settings {
    margin-left: auto;
}